<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981851432056-pij5cjkbuj9kgcll02554qehq7inli6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981851432056-pij5cjkbuj9kgcll02554qehq7inli6c</string>
	<key>API_KEY</key>
	<string>AIzaSyAr_RI99e60zkCsnCRdU_UK9yYpsA31V_8</string>
	<key>GCM_SENDER_ID</key>
	<string>981851432056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>mydiplom-495a2</string>
	<key>STORAGE_BUCKET</key>
	<string>mydiplom-495a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981851432056:ios:11bd119eb6688866</string>
	<key>DATABASE_URL</key>
	<string>https://mydiplom-495a2.firebaseio.com</string>
</dict>
</plist>